<form #form="ngForm" class="row g-3 align-items-center" novalidate (ngSubmit)="onSubmit(form)">
	<br>
	<div class="form-group">
		<div class="col-sm-12">
			<label for="nome" class="form-label">Nome</label>
		</div>
		<div class="col-sm-12">
			<input type="text" class="form-control" id="nome" placeholder="Nome" name="nome" [(ngModel)]="usuario.nome"
				[ngClass]="aplicaCssValidacao(nome, form)" pattern="^[a-zA-Z\s]*$" #nome="ngModel" required>
			<div class="invalid-feedback" *ngIf="nome.invalid">
				<p *ngIf="nome?.errors?.['required']">
					Campo Obrigatório</p>
				<p *ngIf="nome?.errors?.['pattern']">
					Conteúdo Inválido - Apenas Letras (a-z/A-Z)</p>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-12">
			<label for="email" class="form-label">Email</label>
		</div>
		<div class="col-sm-12">
			<input type="email" class="form-control" id="email" placeholder="nome@email.com" name="email"
				[ngClass]="aplicaCssValidacao(email, form)" [(ngModel)]="usuario.email" #email="ngModel" required email>
			<div class="invalid-feedback" *ngIf="email.invalid">
				<p *ngIf="email?.errors?.['required']">
					Campo Obrigatório</p>
				<p *ngIf="email?.errors?.['email']">
					Conteúdo Inválido</p>
			</div>
		</div>
	</div>
	<div ngModelGroup="endereco">
		<div class="form-group">
			<div class="row">
				<div class="col-md-3">
					<label for="cep" class="form-label">CEP</label>
					<input type="text" name="cep" id="cep" class="form-control" placeholder="00000-000"
						[ngClass]="aplicaCssValidacao(cep, form)" pattern="^[\d-]*$" minlength="9" maxLength="9"
						#cep="ngModel" ngModel required (blur)="consultaCEP(cep, form)">
					<div class="invalid-feedback" *ngIf="cep.invalid">
						<p *ngIf="cep?.errors?.['required']">
							Campo Obrigatório</p>
						<p *ngIf="cep?.errors?.['pattern']">
							Conteúdo Inválido - Apenas Números (0-9)</p>
						<p *ngIf="cep?.value?.length != 9 && cep?.value?.length != 0">
							Tamanho mínimo não atingido(9)</p>
					</div>
				</div>

				<div class="col-md-3">
					<label for="numero" class="form-label">Número</label>
					<input type="text" name="numero" id="numero" class="form-control" placeholder="389"
						[ngClass]="aplicaCssValidacao(numero, form)" pattern="^[\d]*$" maxLength="7" #numero="ngModel"
						ngModel required>
					<div class="invalid-feedback" *ngIf="numero.invalid">
						<p *ngIf="numero?.errors?.['required']">
							Campo Obrigatório</p>
						<p *ngIf="numero?.errors?.['pattern']">
							Conteúdo Inválido - Apenas Números (0-9)</p>
					</div>
				</div>

				<div class="col-md-6">
					<label for="complemento" class="form-label">Complemento</label>
					<input type="text" name="complemento" id="complemento" class="form-control" #complemento="ngModel"
						ngModel>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="row">
				<div class="col-md-7">
					<label for="rua" class="form-label">Rua</label>
					<input type="text" class="form-control" id="rua" name="rua"
						[ngClass]="aplicaCssValidacaoReadonly(rua, form)" #rua="ngModel" ngModel readonly>
					<app-campo-control-erro class="invalid-feedback"
						[mostrarErro]="chamaTextoObrigatorioReadonly(rua, form)" mensagemErro="Campo Obrigatório">
					</app-campo-control-erro>
				</div>

				<div class="col-md-5">
					<label for="bairro" class="form-label">Bairro</label>
					<input type="text" name="bairro" id="bairro" class="form-control"
						[ngClass]="aplicaCssValidacaoReadonly(bairro, form)" #bairro="ngModel" ngModel readonly>
					<app-campo-control-erro class="invalid-feedback"
						[mostrarErro]="chamaTextoObrigatorioReadonly(bairro, form)" mensagemErro="Campo Obrigatório">
					</app-campo-control-erro>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="row">
				<div class="col-md-5">
					<label for="cidade" class="form-label">Cidade</label>
					<input type="text" name="cidade" id="cidade" class="form-control"
						[ngClass]="aplicaCssValidacaoReadonly(cidade, form)" #cidade="ngModel" ngModel readonly>
					<app-campo-control-erro class="invalid-feedback"
						[mostrarErro]="chamaTextoObrigatorioReadonly(cidade, form)" mensagemErro="Campo Obrigatório">
					</app-campo-control-erro>
				</div>

				<div class="col-md-5">
					<label for="estado" class="form-label">Estado</label>
					<input type="text" name="estado" id="estado" class="form-control"
						[ngClass]="aplicaCssValidacaoReadonly(estado, form)" #estado="ngModel" ngModel readonly>
					<app-campo-control-erro class="invalid-feedback"
						[mostrarErro]="chamaTextoObrigatorioReadonly(estado, form)" mensagemErro="Campo Obrigatório">
					</app-campo-control-erro>
				</div>
				<div class="col-md-2">
					<label for="uf" class="form-label">UF</label>
					<input type="text" name="uf" id="uf" class="form-control" [ngClass]="aplicaCssValidacao(uf, form)"
						pattern="^[a-zA-Z]*$" maxLength="2" #uf="ngModel" ngModel required>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12">
		<button type="submit" class="btn btn-dark" [disabled]="!form.valid">Enviar</button>
	</div>

	<app-form-debugger [form]="form"></app-form-debugger>
</form>
