/* .ng-touched.ng-invalid:not(form) {
	border: 1px solid red;
} */

.ng-touched.ng-valid:not(form) {
	border: 1px solid rgb(12, 199, 68);
}

.requiredText {
	font: 12px bold;
	font-family: "Roboto", sans-serif;
	color: red;

	text-align: end;
}
