<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" routerLink="">Home</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/cursos" routerLinkActive="active">Cursos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['curso', idCurso.value]" routerLinkActive="active">Curso com
						ID</a>
				</li>
			</ul>
			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-light" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>
<div class="container">
	<p>Entre com o ID do Curso</p>
	<input #idCurso>

	<router-outlet></router-outlet>
</div>
