<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<!-- Navbar content -->
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" routerLink="">Angular Forms</a>
		</div>
		<ul class="nav navbar-nav">
			<li routerLinkActive="active">
				<a class="nav-link" routerLink="/templateForm">Form - Template Driven</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/dataForm">Form - Data Driven</a>
			</li>
		</ul>
	</div>
</nav>

<div class="container">
	<router-outlet></router-outlet>
</div>
