<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-nngfor></app-diretiva-nngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-ng-content>Conteudo passado para o coponente</app-ng-content> -->
<!-- <app-ng-content>
	<div class="title">
		Título do Painel
	</div>
	<div class="body">
		Conteúdo passado para o componente.
	</div>
	<div class="body">
		Conteúdo passado para o componente 2.
	</div>
</app-ng-content> -->

<app-diretivas-customizadas></app-diretivas-customizadas>
